{
  "username": "||USER||",
  "avatar_url": "||AVATAR||",
  "tts": false,
  "embeds":
    [
      {
        "tts": false,
        "type": "rich",
        "title": "||EMERGENCY||||TITLE||",
        "description": "||DESCRIPTION|| ",
        "color": "||COLOR||",
        "fields":
        [
          {
            "name": "||TXT_FIELD_ICAO||",
            "value": "||ICAO||",
            "inline": true
          },
          {
            "name": "||TXT_FIELD_TAIL_NUMBER||",
            "value": "||TAIL||",
            "inline": true
          },
          {
            "name": "||TXT_FIELD_CALLSIGN||",
            "value": "||CALLSIGN|| ",
            "inline": true
          },
          ||SQUAWK--
          {
            "name": "||TXT_FIELD_SQUAWK||",
            "value": "||SQUAWKSTRING|| ",
            "inline": true
          },--SQUAWK||
          {
            "name": "||TXT_FIELD_TYPE||",
            "value": "||TYPE|| ",
            "inline": true
          },
          {
            "name": "||TXT_FIELD_MIN_DIST||",
            "value": "||DISTANCE|| ",
            "inline": true
          },
          {
            "name": "||TXT_FIELD_GND_SPEED||",
            "value": "||GROUNDSPEED|| ",
            "inline": true
          },
          {
            "name": "||TXT_FIELD_TRACK||",
            "value": "||TRACK||",
            "inline": true
          },
          {
            "name": "||TXT_FIELD_ROUTE||",
            "value": "||ROUTE||",
            "inline": true
          }
          ||FIRSTSEEN--,
          {
            "name": "||TXT_FIELD_FIRST_SEEN||",
            "value": "||FIRSTSEEN||",
            "inline": true
          }--FIRSTSEEN||
          ||NOISE--,
          {
            "name": "||TXT_FIELD_LOUDNESS||",
            "value": "||LOUDNESS|| ",
            "inline": true
          }--NOISE||
        ],
        "timestamp": "||TIMESTAMP||",
        ||THUMBNAIL--"thumbnail":
        {
          "url": "||THUMBNAIL||"
        },--THUMBNAIL||
        "footer":
        {
          "text": "Planefence ||VERSION|| © ||YEAR|| by kx1t"
        }||IMAGE--,
        "image":
        {
          "url":"||IMAGE||"
        }--IMAGE||,
        "author":
        {
          "name": "Planefence",
          "url": "https://sdr-e.com/docker-planefence"
        }
      }
    ]
}
